body{
    margin: 0;
}
.top-container{
    height:100vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1606188074044-fcd750f6996a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
}
.top-container h1{
    color: #fe2c54;
 text-shadow: 0 0 2px rgb(101 45 6);
    font-family: cursive;
    letter-spacing: 2px;
    font-size: 60px;
}
.top-container button{
    border: none;
    background: white;
    font-family: cursive;
    font-size: 30px;
    border-radius: 30px;
    padding: 5px 20px;
    color: #fe2c54;
}
.top-container button:hover{
    border: none;
    background: #efc6cd;
}
.text
{
    margin: 50px 10px;
    font-family: cursive;
    font-size: 18px;
}
.navbar
{ position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
    background: white;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background 0.3s;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
   list-style-type: none;
   margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
font-family: cursive;
}
.navbar ul li a:hover{
    color: #fe2c54;
}
.navbar.active{
    background: black;
}
.active ul li a{
    color:white
}