body
{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient( to right bottom ,lightblue, rgb(206, 103, 103), lightblue);
}
.container
{
    background: rgba(255,255,255,0.1);
    padding: 20px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.heading{
    font-weight: 300;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0px 9px 8px rgba(0,0,0,0.3);
    color:rgb(158, 42, 42);
}
.btn{
    background:rgba(255,255,255,0.3); 
    border-color: rgba(255,255,255,0.4);
    padding: 10px;
    font-size: 20px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover:not(:disabled),
.btn:active:not(:disabled){
    background:rgba(255,255,255,0.5);
    color:rgb(158, 42, 42); 
}
.btn:disabled{
    cursor: none;
}