body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.btn{
    display: block; 
    padding: 20px 40px;
    background-color: antiquewhite;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    font-weight:300;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.btn::before
{
    content: "";
    width: 0;
    height: 0;
    background-color: orange;
    top:var(--yPos);
    left:var(--xPos);
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 50%;
    transition: width .5s,height .5s;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}
span{
    z-index: 1;
    position: relative;
}